<script type="text/javascript">
$('#siteLoginDlgSubmit').click(function (ev) { 
	console.log('Submit clicked');
	console.log($('#siteLoginDlgUserId').val() + "/" +  $('#siteLoginDlgPassword').val());
	validateCredentials($('#siteLoginDlgUserId').val(), $('#siteLoginDlgPassword').val());
	checkCredentials();
});

// Set up the model dialog options - disable the keyboard
$('#siteLoginDlg').modal({
  keyboard: false
});

checkCredentials();

// Enforce with mask if the cookie does not exist - guard against folks who can disable the mask!!!
// Do not give this timer a global variable ...otherwise it can be disabled from the browser console
window.setInterval(function() {
	checkCredentials();
}, 3000);
</script>

